@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

#contact{
    padding-bottom: 5rem;
    display: grid;
    & .container{
        padding: 20px;
        margin-top: 5rem;
        border-radius: 10px;
        justify-self: center;
        display: flex;
        flex-direction: column;
        width: 90%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: 0.3s;

        &:hover{
            transform: translateY(-10px);
        }
        & .inner-container{
            display: grid;
            grid-template-columns: repeat(2,1fr);

        & .left{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            & p{
                font-size: 30px;
                font-family: sans-serif;
                margin: 20px;
            }

            & a{
                padding: 10px 20px;
                border-radius: 10px;
                border: 2px solid black;
                text-decoration: none;
                font-weight: 400;
                font-size: 20px;
                font-family: sans-serif;
                transition: 0.3s;
                color: black;

                &:hover{
                    transform: translateY(-5px);
                    background-color: rgb(255, 146, 37);
                }
            }
        }

        & .right{
            display: grid;
            border-left: 3px solid black;
            & form{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 20px;

                & input{
                    font-family: sans-serif;
                    font-size: 20px;
                    padding: 10px;
                    width: 70%;
                    margin:20px 0;
                    border-radius: 10px;
                    background-color: red;
                }

                & textarea{
                    font-size: 15px;
                    font-family: sans-serif;
                    min-width: 30rem;
                    max-width: 30rem;
                    min-height: 10rem;
                    max-height: 10rem;
                    border-radius: 10px;
                    padding: 5px;
                }


                & .formbtn{
                    width: 10rem;
                    transition: 0.3s;
                    cursor: pointer;

                    &:hover{
                        transform: translateY(-3px);
                        background-color: rgb(255, 146, 37);
                    }
                }
            }
        }

        }
    }
}


    & h2{
        font-size: 50px;
        margin-top: 10px;
                text-align: center;
                font-family: "Concert One", sans-serif;
                font-weight: 400;
                font-size: 50px;
                font-style: normal;
                
    }

